
.projects {
    margin-bottom: 200px;
    padding: var(--edgepadding);
}

@media screen and (max-width: 800px) {
    .projects {
        padding: 0;
    }
}

.cellular {
    margin-top: 30px;
    background: linear-gradient(to top, rgb(170, 138, 81), rgb(88, 55, 17));
    height: 800px;
    border-radius: 20px;
    /* box-shadow: rgba(149, 157, 165, 0.788) 0px 4px 16px; */
}