.sectionTitle {
    color: var(--primary);
    font-family: var(--plex);
    font-size: 30px;
    font-weight: 800;
    display: flex;
    align-items: center;
    position: relative;

    white-space: nowrap;
    flex-grow: 1;

    padding: var(--edgepadding);
}

.sectionTitle::before, .sectionTitle::after {
    content: '';
    background-color: #0250597e;
    opacity: 0.2;
    height: 2px;
    border-radius: 50px;
    flex-shrink: 0; /* Prevent flex shrink */
}

.sectionTitle::before {
    width: 60px;
    margin-right: 20px;
}

.sectionTitle::after {
    margin-left: 20px;
    flex-grow: 1; /* Make the right line take up the remaining space */
    width: auto;
}